@import '/src/styles/variables.scss';

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px 10px 20px;

}

.thumbnail {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.thumbnail:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.4s;
}