@import '/src/styles/variables.scss';

.filterBar {
  display: flex;
  justify-content: space-between;
}

.productContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}